@model BPKB
@{
    ViewData["Title"] = "CREATE BPKB";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <form method="post" asp-controller="Bpkb" asp-action="InsertBPKB" asp-antiforgery="true">
        <div class="row">
            <div class="col-6 mb-3">
                <label for="agreement_number" class="form-label" asp-for="AgreementNumber">Agreement Number</label>
                <input type="text" class="form-control" id="agreement_number" asp-for="AgreementNumber">
            </div>
            <div class="col-6 mb-3">
                <label for="branch_id" class="form-label" asp-for="BranchId">Branch Id</label>
                <input type="text" class="form-control" id="branch_id" asp-for="BranchId">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label for="bpkb_no" class="form-label" asp-for="BPKBNo">Nomor BPKB</label>
                <input type="text" class="form-control" id="bpkb_no" asp-for="BPKBNo">
            </div>
            <div class="col-6 mb-3">
                <label for="police_no" class="form-label" asp-for="PoliceNo">Nomor Polisi</label>
                <input type="text" class="form-control" id="police_no" asp-for="PoliceNo">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label for="bpkb_date_in" class="form-label" asp-for="BPKBDateIn">Tanggal BPKB In</label>
                <input type="date" class="form-control" id="bpkb_date_in" asp-for="BPKBDateIn">
            </div>
            <div class="col-6 mb-3">
                <label for="bpkb_date" class="form-label" asp-for="BPKBDate">Tanggal BPKB</label>
                <input type="date" class="form-control" id="bpkb_date" asp-for="BPKBDate">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label for="faktur_no" class="form-label" asp-for="FakturNo">Nomor Faktur</label>
                <input type="text" class="form-control" id="faktur_no" asp-for="FakturNo">
            </div>
            <div class="col-6 mb-3">
                <label for="faktur_date" class="form-label" asp-for="FakturDate">Tanggal Faktur</label>
                <input type="date" class="form-control" id="faktur_date" asp-for="FakturDate">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label for="location_id" class="form-label" asp-for="LocationId">Lokasi Penyimpanan</label>
                <select class="form-control" id="location_id" asp-for="LocationId" asp-items="ViewBag.LocationList">
                    <option>Silahkan pilih Lokasi...</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <a class="w-100 btn btn-danger" asp-controller="Bpkb" asp-action="Index">CANCEL</a>
            </div>
            <div class="col-6 mb-3">
                <button type="submit" class="w-100 btn btn-primary">SAVE</button>
            </div>
        </div>
    </form>
</div>

